absl-py==0.12.0
aioredis==1.3.1
appdirs==1.4.4
arabic-reshaper==2.1.3
asgiref==3.3.4
astroid==2.5.6
astunparse==1.6.3
async-timeout==3.0.1
attrs==21.2.0
autobahn==21.3.1
Automat==20.2.0
autopep8==1.5.7
Babel==2.9.1
backcall==0.2.0
beautifulsoup4==4.9.3
Brotli==1.0.9
bs4==0.0.1
cachetools==4.2.2
cart==1.2.1
category-encoders==2.2.2
certifi==2020.12.5
cffi==1.14.6
channels==3.0.4
channels-redis==3.3.1
chardet==4.0.0
click==7.1.2
colorama==0.4.4
constantly==15.1.0
cryptography==3.4.8
cycler==0.10.0
daphne==3.0.2
dash==1.20.0
dash-core-components==1.16.0
dash-html-components==1.1.3
dash-renderer==1.9.1
dash-table==4.11.3
decorator==5.0.7
decouple==0.0.7
defusedxml==0.7.1
distlib==0.3.1
dj-database-url==0.5.0
djangify==1.0.0
Django==3.2.3
django-ckeditor==6.1.0
django-crispy-forms==1.11.2
django-heroku==0.3.1
django-js-asset==1.2.2
django-mathfilters==1.0.0
django-plotly-dash==1.6.6
django-taggit==1.5.1
django-tastypie==0.14.3
django-utils-six==2.0
djangorestframework==3.12.4
dnspython==2.1.0
docopt==0.6.2
dpd-components==0.1.0
email-validator==1.1.3
et-xmlfile==1.1.0
filelock==3.0.12
Flask==2.0.2
Flask-Compress==1.10.1
flask-mongoengine==1.0.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
flatbuffers==1.12
future==0.18.2
futures==3.1.1
gast==0.4.0
google-auth==1.30.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
goslate==1.5.1
graphviz==0.16
greenlet==1.1.0
grpcio==1.34.1
gunicorn==19.6.0
h5py==3.1.0
hiredis==2.0.0
html5lib==1.1
hyperlink==21.0.0
idna==2.10
incremental==21.3.0
inflection==0.5.1
ipykernel==5.5.4
ipython==7.23.1
ipython-genutils==0.2.0
isort==5.8.0
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.2
joblib==1.0.1
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
Keras==2.4.3
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
keyboard==0.13.5
kiwisolver==1.3.1
lazy-object-proxy==1.6.0
lxml==4.6.3
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.2
matplotlib-inline==0.1.2
mccabe==0.6.1
missingno==0.4.2
mongoengine==0.23.1
more-itertools==8.10.0
MouseInfo==0.1.3
msgpack==1.0.2
mysql-connector-python==8.0.25
mysqlclient==2.0.3
nbformat==5.1.3
nltk==3.6.2
numpy==1.19.5
oauthlib==3.1.0
opencv-python==4.5.2.52
openpyxl==3.0.7
opt-einsum==3.3.0
pandas==1.2.4
pandas-datareader==0.10.0
parso==0.8.2
patsy==0.5.1
pickleshare==0.7.5
Pillow==8.2.0
pipreqs==0.4.11
plotly==5.3.1
prompt-toolkit==3.0.18
protobuf==3.16.0
psycopg2==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.53
pycodestyle==2.7.0
pycparser==2.20
pycryptodome==3.10.1
PyDictionary==2.0.1
pygame==2.0.1
PyGetWindow==0.0.9
Pygments==2.9.0
PyJWT==2.1.0
pylint==2.8.2
pylint-django==2.4.4
pylint-plugin-utils==0.6
pymongo==3.11.4
PyMsgBox==1.0.9
pynput==1.7.3
pyOpenSSL==21.0.0
pyparsing==2.4.7
PyPDF2==1.26.0
pyperclip==1.8.2
PyRect==0.1.4
pyrsistent==0.18.0
PyScreeze==0.1.28
python-bidi==0.4.2
python-dateutil==2.8.1
python-mimeparse==1.6.0
python3-openid==3.2.0
pytweening==1.0.4
pytz==2021.1
pywin32==300
PyYAML==5.4.1
pyzmq==22.0.3
Quandl==3.6.1
regex==2021.4.4
reportlab==3.5.67
requests==2.25.1
requests-futures==1.0.0
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-learn==0.24.2
scipy==1.6.3
seaborn==0.11.1
service-identity==21.1.0
simplejson==3.17.5
six==1.15.0
social-auth-app-django==5.0.0
social-auth-core==4.1.0
soupsieve==2.2.1
SQLAlchemy==1.4.14
sqlparse==0.2.4
statsmodels==0.12.2
stripe==2.60.0
tabulate==0.8.9
tenacity==8.0.1
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.0rc3
tensorflow-estimator==2.5.0rc0
termcolor==1.1.0
textblob==0.17.1
threadpoolctl==2.1.0
tkcalendar==1.6.1
toml==0.10.2
tornado==6.1
tqdm==4.60.0
traitlets==5.0.5
tweepy @ git+https://github.com/tweepy/tweepy.git@994f790abdd53581016aeceea5363e92eefd8831
Twisted==21.7.0
twisted-iocpsupport==1.0.2
twython==3.9.1
txaio==21.2.1
typing-extensions==3.7.4.3
urllib3==1.26.4
utils==1.0.1
vaderSentiment==3.3.2
virtualenv==20.4.7
virtualenv-clone==0.5.4
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.2
whitenoise==3.2.1
wrapt==1.12.1
WTForms==2.3.3
xgboost==1.5.0
xhtml2pdf==0.2.5
xlrd==2.0.1
yahoo-finance==1.4.0
yahooquery==2.2.15
yarg==0.1.9
zope.interface==5.4.0
