{% extends 'base.html' %}

{% block title %}Our Team{% endblock %}

{% block content %}
<section class="pt-3 pb-4">
      <div class="container">
          <div class="row mt-4">
            <div class="col text-center">
              <h3>
                Our Awesome Team
              </h3>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-4 text-center">
              {% load static %}
                <img class = "img-fluid feature-img p-2 rounded-circle" src="{% static 'quotes/profile.jpg' %}" alt="Parth Desai">
              <h5>
                Parth Desai
              </h5>
              <p>
                <i>- 18BCE150</i>
              </p>
    
            </div>
            <div class="col-md-4 text-center">
              {% load static %}
                <img class = "img-fluid feature-img p-2 rounded-circle" src="{% static 'quotes/2.png' %}" alt="Nirav Madhani">
              <h5>
                Nirav Madhani
              </h5>
              <p>
                <i>- 18BCE135</i>
              </p>
    
            </div>
            <div class="col-md-4 text-center">
                
                {% load static %}
                <img class = "img-fluid feature-img p-2 rounded-circle" src="{% static 'quotes/3.jpeg' %}" alt="Parth Panchal">
                <h5>
                  Parth Panchal
                </h5>
                <p>
                  <i>- 18BCE147</i>
                </p>
            </div>
          </div>
  </section>
{% endblock %}
