{% extends 'base.html' %}

{% block content %}

{% if ticker %}
    {{ ticker }}
{% endif %}

{% if api %}
    {% if api == 'Sorry there is an error' %}
        There was a problem with your ticker symbol, please try again.
    {% else %}

    <h2>{{ api.companyName }}</h2><br/>
    Ticker: {{ api.symbol }}<br/>
    Price: ${{ api.latestPrice }}<br/>
    Previous Close: ${{ api.previousClose }}<br/>
    Market Cap: ${{ api.marketCap }}<br/>
    YTD Change: {{ api.ytdChange }}<br/>
    52 Week High: ${{ api.week52High }}<br/>
    52 Week Low: ${{ api.week52Low }}<br/>

    {% endif %}
{% endif %}


{% endblock %}